@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
#calcPage {
    display: flex;
    flex-direction: column;
    
    
    background-color:rgb(205, 205, 150);
    padding-top: 2%;
   height: 300px;
   align-items: center;
    
    

    

}

#space0 { 
   
}

#space1 { display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color:gold;
    color: brown;
    font-size: xx-large;
    min-width: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: -5px;
    
    
   
}



#space2 { 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 20%;
    height: 20%;
    background-color: gold;
    color: brown;
    font-size: 18px;
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: xx-large;
    min-width: fit-content;
    font-weight:bolder;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.container {
    display: flex; 
    
    flex-direction: column;
    border-style: solid;
    
    border-color: brown;
    width: 19.5%;
    height: 300px;
    background-color: brown;
    
    min-width: fit-content;

}
.display { display: flex;
    height: 1fr;
    width: 1fr;
    background-color: black;
    color: chartreuse;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    
   

}

.keyContainer {
    display: grid;
   border-style: solid;
   border-color: brown;  
   padding: auto;
   width: 80%;
   height: 300px;
   padding-left: 25px;
  
  
   
   
   min-width: fit-content;
   
}

   



.op {  display: flex;
    
    border-style: solid;
    border-width: thin;
    min-width: 40px;
    justify-content: center;
    align-items: center;    
    

}



.button {
    display: flex;
    border-radius: 5px;
    background-color: darkgray;
    border-style: solid;
    border-width: thin;
    border-color: black;   
   align-items: center;
   min-width: 40px;
   justify-content: center;
}



#calcKey7 { 
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end:2 ;

}

#calcKey8 {   
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2 ;}
#calcKey9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2 ;

}
#calcKey6 {
    grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
}
#calcKey5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2 ;

}
#calcKey4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3 ;
}
#calcKey3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#calcKey2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#calcKey1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4 ;
}
#calcKey0 { grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5 ;}
#calcKeyDot {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#calcKeyEqual {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5 ;
}
#calcKeyPlus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2 ;
    background-color: orange;
}
#calcKeyMinus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3 ;
    background-color: orange;
}
#calcKeyTimes {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end:4;
    background-color: orange;

}
#calcKeyDivide {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5 ;
    background-color:orange;
}
#calcKeyClear {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: orange;

}
