
.container {
    display: flex; 
    flex-direction: column;
    border-style: solid;
    border-color: aqua;
    width: 20%;
    height: 25%;
    background-color: aqua;

}
.display { length: 1fr; 
    width: 1fr;
    background-color: black;
    color: chartreuse;
    font-size: large;
    

}

.keyContainer {
    display: grid;
   border-style: solid;
   border-color: aqua;  
   padding: auto;
   width: 1fr;
}

   







.button {
    display: flex;
    background-color: darkgray;
    border-style: solid;
    border-color: aqua;   
   align-items: center;
}


#calcKey7 { 
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end:2 ;

}

#calcKey8 {   
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:2 ;}
#calcKey9 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end:2 ;

}
#calcKey6 {
    grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
}
#calcKey5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2 ;

}
#calcKey4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3 ;
}
#calcKey3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
#calcKey2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
#calcKey1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4 ;
}
#calcKey0 { grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5 ;}
#calcKeyDot {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#calcKeyEqual {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5 ;
}
#calcKeyPlus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2 ;
}
#calcKeyMinus {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end:3 ;
}
#calcKeyTimes {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end:4;
}
#calcKeyDivide {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5 ;
}
#calcKeyClear {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}
