:root {
    --grid-cols: 1; 
    --grid-rows: 1;
}


.container {
    display: flex;
    flex-direction: column-reverse;
   justify-content: space-between;
   border-style: solid;
   border-color: aqua;  
   padding: auto;
   width: fit-content
;

   
    
}

.otherBut {
   display: grid;
    background-color:darkgray;
    border-style: solid;
    border-color: aqua;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto)
}


#bigTop {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: aqua;
    font-size:xx-large;
}


#extraSpace {
    display: grid;
    flex-direction: row;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    
}

#calcKey { 
   
    background-color: darkgray;
    border-style: solid;
    border-color: aqua;    
    
}

#showInput {
    
    background-color: black;
    width:  250px;
    height: 75px;
    overflow: hidden;
}